.hero-section {
    background-image: linear-gradient(rgba(21, 59, 51, 1), rgba(0, 0, 0, 0.7)), url(images/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.form-group {
    padding: 10px;
}